footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
	
	background-color: #252627;
}
.footer-wrapper {
	display: flex;
}
.footer-nav {
	display: flex;
	max-width: 1100px;
}