.hot-selection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.hot-items {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	margin: 10px -5px;
}
.hot-item {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-transform: uppercase;
	height: 427px;
	width: 267.5px;
	margin: 5px;
	border: 0px solid #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.25s ease;
}
.hot-item:hover {
	transition: 0.25s ease;
	transform: scale(1.1) transLateY(-0.0px);
	cursor: pointer;
}
.hot-item-name {
	text-align: center;
	color: #fff;
	font-size: 30px;
}
.hangover-recipes {
	background-image: url(../../images/hangoverRecipes.jpg);
}
.maslenitsa {
	background-image: url(../../images/maslenitsa.jpg);
}
.recipes-for-children {
	background-image: url(../../images/recipesForChildren.jpg);
}
.healthy-eating {
	background-image: url(../../images/healthyEating.jpg);
}

.set-of-authors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 15px;
}
.set-of-authors-item {
	height: 50px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	margin: 10px 10px;
	transition: 0.25s ease;
	img {
		height: 100%;
	}
}
.set-of-authors-item:hover {
	transition: 0.25s ease;
	transform: scale(1.6) transLateY(-0.0px);
	cursor: pointer;
}