.recipe-menu, .filter, .submit-block, .filter-item {
	font-size: 12px;
	display: flex;
}

.filter-item { 
	width: 155px;
	height: 35px;
	padding: 5px;
	border: 1px solid #dedede;
}
.ingredients-item {
	width: 142px;
	height: 35px;
	padding: 5px;
	margin-left: 35px;
	border: 1px solid #dedede;
}
.filter-submit {
	width: 133px;
	height: 35px;
	padding: 5px;
	margin-left: 15px;
	background-color: #c7b084;
	color: #fff;
}
.recipe-menu .filter-name, .recipe-menu .ingredients-item, .recipe-menu .filter-submit {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
	p {
		margin: 0px;
	}
}
.arrow {
	display: flex;
	align-items: center;
	padding: 0px 10px;
}
.recipe-menu .filter-item:hover,.recipe-menu .ingredients-item:hover {
	cursor: pointer;
	background-color: #252628;
	color: #fff;
}
.recipe-menu .filter-submit:hover {
	cursor: pointer;
	background-color: #81642B;
}

//----------------------------------
.best-recipes, .articles {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}
.best-recipes-item-container, .articles-item-container {
	display: flex;
	justify-content: center;
	margin: 5px;
	overflow: hidden;
	max-width: 545px;
}
.best-recipes-item-container {
	flex-grow: 1;
}
.best-recipes-item, .articles-item {
	transition: 0.5s ease;
}
.best-recipes-item-container:hover, .articles-item-container:hover {
	.best-recipes-item, .articles-item {
		transition: 0.5s ease;
		transform: scale(1.1) transLateY(-0.0px);
		opacity: 0.9;
		cursor: pointer;
	}
}


.news {
	margin: 10px -5px;
} 
.chicken-legs, .best-recipes-week {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 545px;
	height: 410px;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.chicken-legs {
	background-image: url(../../images/chickenLegs.jpg);
}
.best-recipes-week {
	background-image: url(../../images/bestRecWeek.jpg);
}
.content {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.content-group {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
}
.content-them {
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
	max-width: 400px;
}

.pieInOneBowl, .bestMitballs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 545px;
	height: 267.5px;
	padding: 10px;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.articles-item-wide {
	flex-grow: 1;
}
.pieInOneBowl {
	background-image: url(../../images/pieInOneBowl.jpg);
}
.bestMitballs {
	background-image: url(../../images/bestMitballs.jpg);
}

.cheeseCake, .simpleDrinks, .whatIsHoney, .howKneadDough {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	//flex-grow: 1;
	width: 267.5px;
	height: 267.5px;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cheeseCake {
	background-image: url(../../images/cheeseCake.jpg);
}
.simpleDrinks {
	background-image: url(../../images/simpleDrinks.jpg);
}
.whatIsHoney {
	background-image: url(../../images/whatIsHoney.jpg);
}
.howKneadDough {
	background-image: url(../../images/howKneadDough.jpg);
}

.category {
	min-width: 120px;
	background-color: #2f3032;
	border: 3px solid #2f3032;
	color: #fff;
	text-transform: uppercase;
	img {
		margin-right: 5px;
	}
	p {
		margin: 5px;
	}
}
.recipe-name {
	display: flex;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #fff;
	p {
		margin: 5px;
	}
}

//-----------------------------------------------
// Media queries
@media screen and (max-width: 1100px) {
	.recipe-menu, .filter, .submit-block {
		flex-wrap: wrap;
	}
	.ingredients-item {
		margin-left: 0px;
	}
}
@media screen and (max-width: 550px) {
	.best-recipes-item-container, .articles-item-container {
		flex-grow: 0;
	}
	.chicken-legs, .best-recipes-week {
		flex-grow: 0;
	}
}
@media screen and (max-width: 400px) {
	.chicken-legs, .best-recipes-week, .pieInOneBowl, .bestMitballs {
		width: 275.5px;
	}
}